{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-wybory</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="menugora-wrapper">
		<div id="menugora" class="container">
                {% if user.is_authenticated %}
                    <ul>
				        <li><a href="/#">Homepage</a></li>
				        <li><a href="/polls">Głosowanie</a></li>
				        <li><a href="/news">Lista kandydatów</a></li>
                        <li><a href="/maps">Punkty głosowania</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/#">Homepage</a></li>
				        <li><a href="/polls">Głosowanie</a></li>
				        <li><a href="/news">Lista kandydatów</a></li>
                        <li><a href="/maps">Punkty głosowania</a></li>
                        <li><a href="{% url 'login' %}">login</a></li>
                        <li><a href="{% url 'signup' %}">signup</a></li>
                    </ul>
                {% endif %}
		</div>
		<!-- end #menu -->
	</div>

	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">E-wybory</a></h1>
			</div>
		</div>
	</div>

	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
                {% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
	    </div>
    </div>
</div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>