{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-wybory</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="menugora-wrapper">
		<div id="menugora" class="container">
                 {% if user.is_authenticated %}
                    <ul>
				        <li><a href="/#">Homepage</a></li>
				        <li><a href="/polls">Głosowanie</a></li>
				        <li><a href="/news">Lista kandydatów</a></li>
                        <li><a href="/maps">Punkty głosowania</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/#">Homepage</a></li>
				        <li><a href="/polls">Głosowanie</a></li>
				        <li><a href="/news">Lista kandydatów</a></li>
                        <li><a href="/maps">Punkty głosowania</a></li>
                        <li><a href="{% url 'login' %}">login</a></li>
                        <li><a href="{% url 'signup' %}">signup</a></li>
                    </ul>
                {% endif %}
		</div>
		<!-- end #menu -->
	</div>

	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">E-wybory</a></h1>
			</div>
		</div>
	</div>

    <div id="menu-wrapper">
		<div id="menu" class="container">
            <div id="menu-wel">
				{% block page %}
                    <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
                    <p>Your email address: {{ user.email }}</p>
                {% endblock %}
            <a href="#" class="icon icon-arrow-right button">Read More</a>
            </div>

		</div>
		<!-- end #menu -->
	</div>

	<div id="page" class="container">
		<div id="content">
<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>



		</div>
		<div id="sidebar">
			<div class="box1">
				<div class="title">
					<h2>Integer gravida</h2>
				</div>
				<ul class="list-style1">
					<li class="first">
						<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus, cursus egestas at sem. </p>
						<p><a href="#" class="link-style">Read More</a></p>
					</li>
					<li>
						<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus  at sem. Suspendisse suscipit, orci ac interdum viverra.</p>
						<p><a href="#" class="link-style">Read More</a></p>
					</li>
				</ul>
			</div>
			<div class="box2">
				<div class="title">
					<h2>pendisse suscipit</h2>
				</div>
				<ul class="style2">
					<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
					<li><a href="#">Ornare in hendrerit in lectus</a></li>
					<li><a href="#">Semper mod quis eget mi dolore</a></li>
					<li><a href="#">Quam turpis feugiat sit dolor</a></li>
					<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
					<li><a href="#">Quam turpis feugiat sit dolor</a></li>
					<li><a href="#">Consequat etiam lorem phasellus</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>